<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key govuk-!-width-one-third">
    <%= t('pa_expression_of_interest.check_answers.table.row_headings.org_name') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%= @organisation.name.present? ? @organisation.name : t('generic.not_answered') %>
  </dd>

  <%= render partial: 'pre_application/expression_of_interest/check_answers/change_link',
             locals: {
                 link_url: postcode_path(
                    'preapplication',
                    @pre_application.id
                ),
                 link_hidden_label: t('pa_expression_of_interest.check_answers.change_links.org_name')
             }
  %>

</div>
