<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key govuk-!-width-one-third">
    <%= t('pa_expression_of_interest.check_answers.table.row_headings.potential_funding_amount') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%= @pre_application.pa_expression_of_interest.potential_funding_amount? ? "£#{@pre_application.pa_expression_of_interest.potential_funding_amount}" : t('generic.not_answered') %>
  </dd>

  <%= render partial: 'pre_application/expression_of_interest/check_answers/change_link',
             locals: {
                 link_url: pre_application_expression_of_interest_likely_ask_path,
                 link_hidden_label: t('pa_expression_of_interest.check_answers.change_links.potential_funding_amount')
             }
  %>

</div>
