<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key govuk-!-width-one-third">
    <%= t('pa_expression_of_interest.check_answers.table.row_headings.project_reasons') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%= @pre_application.pa_expression_of_interest.project_reasons? ? @pre_application.pa_expression_of_interest.project_reasons : t('generic.not_answered') %>
  </dd>

  <%= render partial: 'pre_application/expression_of_interest/check_answers/change_link',
             locals: {
                 link_url: pre_application_expression_of_interest_what_is_the_need_for_this_project_path,
                 link_hidden_label: t('pa_expression_of_interest.check_answers.change_links.project_reasons')
             }
  %>

</div>
