<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key">
    <%= t('pa_project_enquiry.check_answers.table.row_headings.previous_contact_name') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%= @pre_application.pa_project_enquiry.previous_contact_name.present? ? @pre_application.pa_project_enquiry.previous_contact_name : t('generic.not_answered')%>
  </dd>

  <%= render partial: 'pre_application/project_enquiry/check_answers/change_link',
             locals: {
                 link_url: pre_application_project_enquiry_previous_contact_path,
                 link_hidden_label: t('pa_project_enquiry.check_answers.table.row_headings.previous_contact_name')
             }
  %>

</div>
