<% form_object.errors.each do |error| %>
  <span id="<%= form_object.class.name.downcase %>[<%= error.attribute %>]-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> <%= error.message %>
  </span>
<% end %>