<div class="govuk-error-summary" aria-labelledby="error-summary-title"
     role="alert" tabindex="-1" data-module="govuk-error-summary">

  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>

  <div class="govuk-error-summary__body">

    <ul class="govuk-list govuk-error-summary__list">

      <% form_object.errors.each do |error| %>
        <li>
          <% if error.attribute.to_s == 'custom_date_of_spend' %>
            <a href='#spend_custom_date_of_spend(3i)'>
          <% elsif error.attribute.to_s == 'cost_type' %>
            <a href='#spend_cost_type_id' %>
          <% else %>
          <a href='#<%= form_object.errors.size == 1 ? first_form_element :
                            "#{defined?(form_object_name) && form_object_name.size ? form_object_name : form_object.class.name.downcase}_#{error.attribute.to_s}" %>'>
          <% end %>
            <%= error.message %>
          </a>
        </li>
      <% end %>

    </ul>

  </div>

</div>